.idea
dist
dist_prod
node_modules
coverage
/src/assets/test.mkv
debug.log
.DS_Store
videoClip-*.zip
sider.ai.zip
lib
.turbo
/packages/setting-panel/react
/packages/setting-panel/preact
.plasmo
/packages/injector_test-*/build

src/test/uploads
src/test/static
*.pem
